<nav class="navbar">
    <div class="ln">
        <div class="lnc">
            <h1>Welcome To State Bank of India <b>Online</b></h1>
        </div>
    </div>
    <div class="rn">
        <div class="rni">
            <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/58/State_Bank_of_India_logo.svg/1200px-State_Bank_of_India_logo.svg.png" alt="" height="50px" width="150px">
        </div>
    </div>
</nav>
<nav class="navbar">
    <div class="ln">
        <div class="lnc">
            <a href="{% url 'home' %}"><h4><b>Home</b></h4></a>
            <a href="{% url 'open' %}"><h4><b>Open New Account</b></h4></a>
            <a href="{% url 'debit' %}"><h4>Money Withdrawal</h4></a>
            <a href="{% url 'credit' %}"><h4>Deposit Money</h4></a>
            <a href="{% url 'transfer' %}"><h4>Transfer Money</h4></a>
            <a href="{% url 'balance' %}"><h4>Balance Inquiry</h4></a>
            <a href="{% url 'pin' %}"><h4>PIN Generation</h4></a>
            <a href="{% url 'display' %}"><h4>View Details</h4></a>
        </div>
    </div>
</nav>